
<div>

	<form name="frmAppconfig" novalidate class="css-form">
		<div class="panel panel-default">
			<!-- Top actions -->
			<div class="panel-heading">
				<div class="row">
				
					<div class="btn btn-link pull-left" ng-click="list()">{{'clientmain_appconfig_title' | translate}}</div>
					<div class="btn-group pull-right">
						<button class="btn btn-info" ng-click="save()" data-toggle="tooltip" title="{{'clientmain_home_save' | translate}}">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<button class="btn btn-info" ng-click="createOnForm()" data-toggle="tooltip" title="{{'clientmain_home_create' | translate}}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button class="btn btn-info" ng-click="deleteOnForm()" ng-show="appconfig.id > -1" data-toggle="tooltip" title="{{'clientmain_home_delete' | translate}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn btn-info" ng-click="closeDialog()" data-toggle="tooltip" title="{{'clientmain_home_close' | translate}}">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>
			</div>
			<!-- Alert Message -->
			<div id="appconfigAlertMessage" class="alert" style="display: none">
				<strong>{{appconfigAlertMessage}}</strong>
			</div>
			<!-- Context -->
			<div class="panel-body">
				<div class="row">
					
					<!-- First column -->
					<div class="col-sm-6">
						<div class="form-vertical">
							<!-- scope -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmAppconfig.scope.$touched) && (frmAppconfig.scope.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientmain_appconfig_scope' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="scope" ng-model="appconfig.scope">
						        	<div ng-messages="(frmDirty || frmAppconfig.scope.$touched) && (frmAppconfig.scope.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The scope must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /scope -->
							<!-- content -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmAppconfig.content.$touched) && (frmAppconfig.content.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientmain_appconfig_content' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="content" ng-model="appconfig.content">
						        	<div ng-messages="(frmDirty || frmAppconfig.content.$touched) && (frmAppconfig.content.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The content must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /content -->
						</div>
					</div>
					<!-- /First column -->
					
					<!-- Second column -->
					<div class="col-sm-6">
						<div class="form-vertical">
						
						</div>
					</div>
					<!-- /Second column -->
				</div>
			</div>
			<!-- Bottom actions -->
			<div class="panel-footer">
				<div class="row">
					<div class="btn-group pull-right">
						<button class="btn btn-info" ng-click="save()" data-toggle="tooltip" title="{{'clientmain_home_save' | translate}}">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<button class="btn btn-info" ng-click="createOnForm()" data-toggle="tooltip" title="{{'clientmain_home_create' | translate}}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button class="btn btn-info" ng-click="deleteOnForm()" ng-show="appconfig.id > -1" data-toggle="tooltip" title="{{'clientmain_home_delete' | translate}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn btn-info" ng-click="closeDialog()" data-toggle="tooltip" title="{{'clientmain_home_close' | translate}}">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
