<section>
	<ul class="sidebar-menu" style="padding-top: 13px;">
		<li class="sidebar-header">MAIN</li>

		<li ng-click="goto('home');">
			<a>
				<span>Dashboard</span>
			</a>
		</li>
		<li ng-click="goto('user');">
			<a>
				<span>User</span>
			</a>
		</li>
		<!--  
		<li ng-click="goto('test');">
			<a>
				<span>Test</span>
			</a>
		</li>
		<li ng-click="goto('notify');">
			<a>
				<span>Notify</span>
			</a>
		</li>
		<li ng-click="goto('calendar');">
			<a>
				<span>Calendar</span>
			</a>
		</li>
		<li ng-click="goto('calendarextend');">
			<a>
				<span>Calendarextend</span>
			</a>
		</li>
		-->
		
	</ul>
</section>
