
<div>

	<form name="frmMaterialquantity" novalidate class="css-form">
		<div class="panel panel-default">
			<!-- Top actions -->
			<div class="panel-heading">
				<div class="row">
				
					<div class="btn btn-link pull-left" ng-click="list()">{{'clientwh_materialquantity_title' | translate}}</div>
					<div class="btn-group pull-right">
						<button class="btn btn-info" ng-click="save()" data-toggle="tooltip" title="{{'clientwh_home_save' | translate}}">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<button class="btn btn-info" ng-click="createOnForm()" data-toggle="tooltip" title="{{'clientwh_home_create' | translate}}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button class="btn btn-info" ng-click="deleteOnForm()" ng-show="materialquantity.id > -1" data-toggle="tooltip" title="{{'clientwh_home_filter_clear' | translate}}">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button class="btn btn-info" ng-click="closeDialog()" data-toggle="tooltip" title="{{'clientwh_home_close' | translate}}">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>
			</div>
			<!-- Alert Message -->
			<div id="alertMessage" class="alert" style="display: none">
				<strong>{{alertMessage}}</strong>
			</div>
			<!-- Context -->
			<div class="panel-body">
				<div class="row">
					
					<!-- First column -->
					<div class="col-sm-6">
						<div class="form-vertical">
							<!-- idref -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialquantity.idref.$touched) && (frmMaterialquantity.idref.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialquantity_idref' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="idref" ng-model="materialquantity.idref">
						        	<div ng-messages="(frmDirty || frmMaterialquantity.idref.$touched) && (frmMaterialquantity.idref.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The description must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /idref -->
							<!-- reftype -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialquantity.reftype.$touched) && (frmMaterialquantity.reftype.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialquantity_reftype' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="reftype" ng-model="materialquantity.reftype">
						        	<div ng-messages="(frmDirty || frmMaterialquantity.reftype.$touched) && (frmMaterialquantity.reftype.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The description must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /reftype -->
							<!-- scope -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialquantity.scope.$touched) && (frmMaterialquantity.scope.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialquantity_scope' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="scope" ng-model="materialquantity.scope">
						        	<div ng-messages="(frmDirty || frmMaterialquantity.scope.$touched) && (frmMaterialquantity.scope.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The description must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /scope -->
							<!-- quantity -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialquantity.quantity.$touched) && (frmMaterialquantity.quantity.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialquantity_quantity' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="quantity" ng-model="materialquantity.quantity">
						        	<div ng-messages="(frmDirty || frmMaterialquantity.quantity.$touched) && (frmMaterialquantity.quantity.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The description must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /quantity -->
							<!-- note -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialquantity.note.$touched) && (frmMaterialquantity.note.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialquantity_note' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="note" ng-model="materialquantity.note">
						        	<div ng-messages="(frmDirty || frmMaterialquantity.note.$touched) && (frmMaterialquantity.note.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The description must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /note -->
							<!-- version -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialquantity.version.$touched) && (frmMaterialquantity.version.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialquantity_version' | translate}}</label>
						        	<input md-maxlength="3" md-input required md-no-asterisk name="version" ng-model="materialquantity.version">
						        	<div ng-messages="(frmDirty || frmMaterialquantity.version.$touched) && (frmMaterialquantity.version.$error)">
						          		<div ng-message="required">This is required.</div>
						          		<div ng-message="md-maxlength">The description must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /version -->
						</div>
					</div>
					<!-- /First column -->
					
					<!-- Second column -->
					<div class="col-sm-6">
						<div class="form-vertical">
						
						</div>
					</div>
					<!-- /Second column -->
				</div>
			</div>
			<!-- Bottom actions -->
			<div class="panel-footer">
				<div class="row">
					<div class="btn-group pull-right">
						<button class="btn btn-info" ng-click="save()" data-toggle="tooltip" title="{{'clientwh_home_save' | translate}}">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<button class="btn btn-info" ng-click="createOnForm()" data-toggle="tooltip" title="{{'clientwh_home_create' | translate}}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button class="btn btn-info" ng-click="deleteOnForm()" ng-show="materialquantity.id > -1" data-toggle="tooltip" title="{{'clientwh_home_filter_clear' | translate}}">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button class="btn btn-info" ng-click="closeDialog()" data-toggle="tooltip" title="{{'clientwh_home_close' | translate}}">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
