<div>
	<form name="frmDetail" novalidate class="css-form">
		<div class="panel panel-default">

			<!-- Top actions -->
			<div class="panel-heading">
				<div class="row">
					<div class="btn btn-link pull-left">{{'clientwh_material_detail' | translate}}</div>
				</div>
			</div>

			<!-- Context -->
			<div ng-init="initDetail()">
				<div class="panel-body">
					<md-tabs md-dynamic-height>
						<md-tab label="{{'clientwh_material_instore_title' | translate}}">
						<div class="row">
							<div class="col-sm-6">
								<div class="col-sm-7">
									<form ng-submit="listWithCriteriasByIdMaterialAndPage(idmaterial,1)">
										<div class="input-group">
											<md-input-container class="md-block" style="top: 16px">
												<label>{{'clientwh_material_search' | translate}}</label>
												<input md-input ng-model="searchMaterialStore.content">
											</md-input-container>

											<span class="input-group-btn">
												<md-button aria-label="search" class="md-icon-button test-tooltip md-primary md-raised" md-colors="{background: 'default-blue'}"
												 type="submit" ng-click="listWithCriteriasByIdMaterialAndPage(idmaterial,1)">
													<md-tooltip>{{'clientwh_home_search' | translate}}</md-tooltip>
													<md-icon md-font-library="material-icons">search</md-icon>
												</md-button>

												<md-button aria-label="clear" class="md-icon-button test-tooltip md-raised" ng-click="clearSearchMaterial()">
													<md-tooltip>{{'clientwh_home_cancel' | translate}}</md-tooltip>
													<md-icon md-font-library="material-icons">clear</md-icon>
												</md-button>
											</span>
										</div>
									</form>
								</div>
								<div class="col-sm-5"></div>
							</div>
							<div class="col-sm-6"></div>
							<br>
							<br>
							<div class="col-sm-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th ng-click="sortByMaterialStore('material')">{{'clientwh_material_instore_title' | translate}}
													<span ng-show="sortKeyMaterialStore === 'material'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"
													/>
												</th>
												<th ng-click="sortByMaterialStore('quantity')">{{'clientwh_material_instore_quatity' | translate}}
													<span ng-show="sortKeyMaterialStore === 'quantity'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"
													/>
												</th>
												<th>{{'clientwh_material_instore_note' | translate}}</th>
											</tr>
										</thead>

										<tfoot>
											<tr>
												<th ng-click="sortByMaterialStore('material')">{{'clientwh_material_instore_title' | translate}}
													<span ng-show="sortKeyMaterialStore === 'material'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"
													/>
												</th>
												<th ng-click="sortByMaterialStore('quantity')">{{'clientwh_material_instore_quatity' | translate}}
													<span ng-show="sortKeyMaterialStore === 'quantity'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"
													/>
													<th>{{'clientwh_material_instore_note' | translate}}</th>
											</tr>
										</tfoot>

										<tbody>
											<tr dir-paginate="item in materialstores | itemsPerPage:pageStore.pageSize" pagination-id="paginationmaterialstore" current-page="pageStore.currentPage"
											 total-items="pageStore.totalElements">
												<td>{{item.storename}}</td>
												<td>{{item.quantity}}</td>
												<td>{{item.note}}</td>
											</tr>
										</tbody>
									</table>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="pull-right">
											<div class="btn-group">
												<dir-pagination-controls pagination-id="paginationmaterialstore" max-size="8" direction-links="true" boundary-links="true"
												 on-page-change="listWithCriteriasByIdMaterialAndPage(idmaterial,newPageNumber)">
												</dir-pagination-controls>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-heading">
									<div class="row">
										<div class="btn-group pull-right">

											<!-- Close button -->
											<md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">

												<md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
												<md-icon md-font-library="material-icons">close</md-icon>
											</md-button>
											<!--/ Close button -->
										</div>
									</div>
								</div>
								<!-- /.table-responsive-->
							</div>
						</div>
					</md-tab>
						<md-tab label="{{'clientwh_material_general_title' | translate}}">
						<div class="panel-heading">
							<div class="row ">
								<div class="btn-group pull-right ">
									<!-- Close button -->
									<md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">

										<md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
										<md-icon md-font-library="material-icons">close</md-icon>
									</md-button>
									<!--/ Close button -->

								</div>
							</div>
						</div>
						<div class="row">
							<!-- First column -->
							<div class="col-sm-6">
								<div class="form-vertical">
									<!-- code-->
									<div class="form-group col-sm-12">
										<md-input-container class="md-block" md-is-error="frmMaterial.code.$error.duplicate">
											<label class="control-label col-sm-6">{{'clientwh_material_code' | translate}}</label>
											<input disabled md-maxlength="50" placeholder="{{'clientwh_material_type' | translate}}_{{'clientwh_material_spec' | translate}}_{{'clientwh_material_brand' | translate}}"
											 md-input required disabled md-no-asterisk name="code" ng-model="material.code" ng-change="resetValidateDuplicate(1)"
											 id="code" maxlength="50">
											<div ng-messages="frmMaterial.code.$error">
												<div ng-message="duplicate">{{'clientwh_home_code_is_exits' | translate}}</div>
											</div>
										</md-input-container>
									</div>
									<!-- materialcode 
                            <div class="form-group col-sm-12">
                                <md-input-container class="md-block" md-is-error="(frmDirty || frmMaterial.materialcode.$touched) && (frmMaterial.materialcode.$invalid)">
							        <label class="control-label col-sm-6" >{{'clientwh_material_materialcode' | translate}}</label>
							        <input md-maxlength="20" 
									       md-input 
									       required 
									       md-no-asterisk 
									       name="materialcode" 
									       ng-model="material.materialcode" 
									       id="materialcode" 
									       maxlength="20">
							        <div ng-messages="(frmDirty || frmMaterial.materialcode.$touched) && (frmMaterial.materialcode.$error)">
							          <div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
							     	</div>
							     </md-input-container>
							</div>-->

									<!-- name -->
									<div class="form-group col-sm-12">
										<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterial.name.$touched) && (frmMaterial.name.$invalid)||frmMaterial.name.$error.duplicate">
											<label class="control-label col-sm-6">{{'clientwh_material_name' | translate}}</label>
											<input disabled  md-maxlength="100" md-input required md-no-asterisk name="name" ng-model="material.name" ng-change="resetValidateDuplicate(2)"
											 id="name" maxlength="100">
											<div ng-messages="(frmDirty || frmMaterial.name.$touched) && (frmMaterial.name.$error)">
												<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
												<div ng-message="duplicate">{{'clientwh_home_name_is_exits' | translate}}</div>
											</div>
										</md-input-container>
									</div>

									<!-- quantity
                            <div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterial.quantity.$touched) && (frmMaterial.quantity.$invalid)||frmMaterial.quantity.$error.duplicate">
							        	<label class="control-label col-sm-6" >{{'clientwh_material_quantity' | translate}}</label>
							        	<input  min="1" max = "2147483646"  oninput="validity.valid||(value='');" type="number"md-input required md-no-asterisk name="quantity" ng-model="material.quantity" id="quantity" maxlength="100">
							        	<div ng-messages="(frmDirty || frmMaterial.quantity.$touched) && (frmMaterial.quantity.$error)">
							          		<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
							          		</div>
							     </md-input-container>
                            </div> -->

									<!-- description -->
									<div class="form-group col-sm-12">
										<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterial.description.$touched) && (frmMaterial.description.$invalid)">
											<label  class="control-label col-sm-6">{{'clientwh_material_description' | translate}}</label>
											<input disabled md-maxlength="500" md-input md-no-asterisk name="description" ng-model="material.description" id="description" maxlength="500">
											<div ng-messages="(frmDirty || frmMaterial.description.$touched) && (frmMaterial.description.$error)">
											</div>
										</md-input-container>
									</div>

									<!-- note -->
									<div class="form-group col-sm-12">
										<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterial.note.$touched) && (frmMaterial.note.$invalid)">
											<label class="control-label col-sm-6">{{'clientwh_material_note' | translate}}</label>
											<input disabled md-maxlength="500" md-input md-no-asterisk name="note" ng-model="material.note" id="note" maxlength="500">
											<div ng-messages="(frmDirty || frmMaterial.note.$touched) && (frmMaterial.note.$error)">
											</div>
										</md-input-container>
									</div>



									<!-- image-->
									<div class="form-group col-sm-12">
										<div class="form-group col-sm-12">
											<div class="col-sm-6"></div>
											<div class="col-sm-6">
												<img class="control-label" alt="" data-ng-src="{{material.thumbnail || '//:0'}}" width="150px" height="150px" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /First column -->

							<!-- Second column -->
							<div class="col-sm-6">
								<div class="form-vertical">

									<!-- type -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idtype.$touched) && (frmMaterial.idtype.$invalid)"
										 ng-click="resetInvalidType()">
											<md-autocomplete ng-disabled="true"  md-input-name="idtype" required="" ng-disabled="ctlentityfieldType.isDisabled" md-no-cache="ctlentityfieldType.noCache"
											 md-selected-item="ctlentityfieldType.selectedItem" md-search-text-change="ctlentityfieldType.searchTextChange(ctlentityfieldType.searchText)"
											 md-search-text="ctlentityfieldType.searchText" md-selected-item-change="ctlentityfieldType.selectedItemChange(item)"
											 md-items="item in ctlentityfieldType.querySearch(ctlentityfieldType.searchText)" md-item-text="item.display" md-min-length="0"
											 placeholder="What is your type item?" md-clear-button="true" md-require-match="" md-floating-label="{{'clientwh_material_type' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldType.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldType.searchText}}" were found.
													<a ng-click="ctlentityfieldType.newState(ctlentityfieldType.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idtype.$touched) && (frmMaterial.idtype.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_type_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>

									<!-- spec -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idspec.$touched) && (frmMaterial.idspec.$invalid)"
										 ng-click="resetInvalidSpec()">
											<md-autocomplete ng-disabled="true" md-input-name="idspec" required="" ng-disabled="ctlentityfieldSpec.isDisabled" md-no-cache="ctlentityfieldSpec.noCache"
											 md-selected-item="ctlentityfieldSpec.selectedItem" md-search-text-change="ctlentityfieldSpec.searchTextChange(ctlentityfieldSpec.searchText)"
											 md-search-text="ctlentityfieldSpec.searchText" md-selected-item-change="ctlentityfieldSpec.selectedItemChange(item)"
											 md-items="item in ctlentityfieldSpec.querySearch(ctlentityfieldSpec.searchText)" md-item-text="item.display" md-min-length="0"
											 placeholder="What is your spec item?" md-clear-button="true" md-require-match="" md-floating-label="{{'clientwh_material_spec' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldSpec.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldSpec.searchText}}" were found.
													<a ng-click="ctlentityfieldSpec.newState(ctlentityfieldSpec.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idspec.$touched) && (frmMaterial.idspec.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_spec_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>


									<!-- brand -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idbrand.$touched) && (frmMaterial.idbrand.$invalid)"
										 ng-click="resetInvalidBrand()">
											<md-autocomplete ng-disabled="true" md-input-name="idbrand" required="" ng-disabled="ctlentityfieldBrand.isDisabled" md-no-cache="ctlentityfieldBrand.noCache"
											 md-selected-item="ctlentityfieldBrand.selectedItem" md-search-text-change="ctlentityfieldBrand.searchTextChange(ctlentityfieldBrand.searchText)"
											 md-search-text="ctlentityfieldBrand.searchText" md-selected-item-change="ctlentityfieldBrand.selectedItemChange(item)"
											 md-items="item in ctlentityfieldBrand.querySearch(ctlentityfieldBrand.searchText)" md-item-text="item.display"
											 md-min-length="0" placeholder="What is your brand item?" md-require-match="" md-clear-button="true" md-floating-label="{{'clientwh_material_brand' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldBrand.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldBrand.searchText}}" were found.
													<a ng-click="ctlentityfieldBrand.newState(ctlentityfieldBrand.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idbrand.$touched) && (frmMaterial.idbrand.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_brand_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>

									<!-- catalog -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idcategory.$touched) && (frmMaterial.idcategory.$invalid)"
										 ng-click="resetInvalidCatalog()">
											<!-- Auto complete -->
											<md-autocomplete ng-disabled="true"  md-input-name="idcategory" required="" ng-disabled="ctlentityfieldCatalog.isDisabled" md-no-cache="ctlentityfieldCatalog.noCache"
											 md-selected-item="ctlentityfieldCatalog.selectedItem" md-search-text-change="ctlentityfieldCatalog.searchTextChange(ctlentityfieldCatalog.searchText)"
											 md-search-text="ctlentityfieldCatalog.searchText" md-selected-item-change="ctlentityfieldCatalog.selectedItemChange(item)"
											 md-items="item in ctlentityfieldCatalog.querySearch(ctlentityfieldCatalog.searchText)" md-item-text="item.display"
											 md-min-length="0" placeholder="What is your catalog item?" md-require-match="" md-clear-button="true" md-floating-label="{{'clientwh_material_catalog' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldCatalog.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldCatalog.searchText}}" were found.
													<a ng-click="ctlentityfieldCatalog.newState(ctlentityfieldCatalog.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idcategory.$touched) && (frmMaterial.idcategory.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_catalog_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>

									<!-- system -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idsystem.$touched) && (frmMaterial.idsystem.$invalid)"
										 ng-click="resetInvalidSystem()">
											<md-autocomplete ng-disabled="true" md-input-name="idsystem" required="" ng-disabled="ctlentityfieldSystem.isDisabled" md-no-cache="ctlentityfieldSystem.noCache"
											 md-selected-item="ctlentityfieldSystem.selectedItem" md-search-text-change="ctlentityfieldSystem.searchTextChange(ctlentityfieldSystem.searchText)"
											 md-search-text="ctlentityfieldSystem.searchText" md-selected-item-change="ctlentityfieldSystem.selectedItemChange(item)"
											 md-items="item in ctlentityfieldSystem.querySearch(ctlentityfieldSystem.searchText)" md-item-text="item.display"
											 md-min-length="0" placeholder="What is your system item?" md-require-match="" md-clear-button="true" md-floating-label="{{'clientwh_material_system' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldSystem.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldSystem.searchText}}" were found.
													<a ng-click="ctlentityfieldSystem.newState(ctlentityfieldSystem.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idsystem.$touched) && (frmMaterial.idsystem.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_system_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>

									<!-- origin -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idorigin.$touched) && (frmMaterial.idorigin.$invalid)"
										 ng-click="resetInvalidOrigin()">
											<md-autocomplete ng-disabled="true" md-input-name="idorigin" required="" ng-disabled="ctlentityfieldOrigin.isDisabled" md-no-cache="ctlentityfieldOrigin.noCache"
											 md-selected-item="ctlentityfieldOrigin.selectedItem" md-search-text-change="ctlentityfieldOrigin.searchTextChange(ctlentityfieldOrigin.searchText)"
											 md-search-text="ctlentityfieldOrigin.searchText" md-selected-item-change="ctlentityfieldOrigin.selectedItemChange(item)"
											 md-items="item in ctlentityfieldOrigin.querySearch(ctlentityfieldOrigin.searchText)" md-item-text="item.display"
											 md-min-length="0" placeholder="What is your origin item?" md-require-match="" md-clear-button="true" md-floating-label="{{'clientwh_material_origin' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldOrigin.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldOrigin.searchText}}" were found.
													<a ng-click="ctlentityfieldOrigin.newState(ctlentityfieldOrigin.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idorigin.$touched) && (frmMaterial.idorigin.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_origin_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>

									<!-- unit -->
									<div class="form-group col-sm-12">
										<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterial.idunit.$touched) && (frmMaterial.idunit.$invalid)"
										 ng-click="resetInvalidUnit()">
											<md-autocomplete ng-disabled="true" md-input-name="idunit" required="" ng-disabled="ctlentityfieldUnit.isDisabled" md-no-cache="ctlentityfieldUnit.noCache"
											 md-selected-item="ctlentityfieldUnit.selectedItem" md-search-text-change="ctlentityfieldUnit.searchTextChange(ctlentityfieldUnit.searchText)"
											 md-search-text="ctlentityfieldUnit.searchText" md-selected-item-change="ctlentityfieldUnit.selectedItemChange(item)"
											 md-items="item in ctlentityfieldUnit.querySearch(ctlentityfieldUnit.searchText)" md-item-text="item.display" md-min-length="0"
											 placeholder="What is your unit item?" md-require-match="" md-clear-button="true" md-floating-label="{{'clientwh_material_unit' | translate}}">
												<md-item-template>
													<span md-highlight-text="ctlentityfieldUnit.searchText" md-highlight-flags="^i">{{item.display}}</span>
												</md-item-template>
												<md-not-found>
													No items matching "{{ctlentityfieldUnit.searchText}}" were found.
													<a ng-click="ctlentityfieldUnit.newState(ctlentityfieldUnit.searchText)">Create a new one!</a>
												</md-not-found>
												<div ng-messages="(frmDirty || frmMaterial.idunit.$touched) && (frmMaterial.idunit.$error)">
													<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
													<div ng-message="md-require-match">{{'clientwh_unit_exist' | translate}}</div>
												</div>
											</md-autocomplete>
										</div>
									</div>

								</div>
							</div>
							<!-- /Second column -->
						</div>
						<!-- Bottom actions -->
						<div class="panel-heading">
							<div class="row">
								<div class="btn-group pull-right">
									<!-- Close button -->
									<md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">
	
										<md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
										<md-icon md-font-library="material-icons">close</md-icon>
									</md-button>
									<!--/ Close button -->
								</div>
							</div>
						</div>
					</md-tab>
						<!-- attachment -->
						<md-tab label="{{'clientwh_material_attachment_title' | translate}}">
							<div class="panel-heading">
								<div class="row" ng-show="material.id > -1">
									<div ng-include="attachmentScope.viewdetail" ng-controller="clientwhattachmentController as materialsub">
									</div>
									<div class="btn-group pull-right">
										<!-- Close button -->
										<md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">
											<md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
											<md-icon md-font-library="material-icons">close</md-icon>
										</md-button>
										<!--/ Close button -->
									</div>
								</div>
							</div>
						</md-tab>
						<!-- /attachment -->

						<!-- materialsub -->
						<md-tab label="{{'clientwh_material_materialsub_title' | translate}}">
							<div class="panel-heading">
								<div class="row" ng-show="material.id > -1">
									<div ng-include="materialsubScope.viewdetail" ng-controller="clientwhmaterialsubController">
									</div>
								</div>
								<div class="row">
									<div class="btn-group pull-right">
										<!-- Close button -->
										<md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">
	
											<md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
											<md-icon md-font-library="material-icons">close</md-icon>
										</md-button>
										<!--/ Close button -->
									</div>
								</div>
							</div>
						</md-tab>
					<!-- /materialsub -->
					</md-tabs>
				</div>
			</div>
		</div>
	</form>
</div>