
<div>
	<md-card>
		<md-tabs md-dynamic-height md-border-bottom>
    		<md-tab label="{{'clientwh_materialbaseline_title' | translate}}">
				<form name="frmMaterialbaseline" novalidate class="css-form">
			
			<md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{'clientwh_materialbaseline_title' | translate}}</span>
                </md-card-title-text>
            </md-card-title>
            
			<!-- Alert Message -->
			<div id="materialbaselineAlertMessage" class="alert" style="display: none">
				<strong>{{materialbaselineAlertMessage}}</strong>
			</div>
			<!-- Context -->
				<div class="row">
					
					<!-- First column -->
					<div class="col-sm-3">
               		</div>
					<div class="col-sm-6">
						<div class="form-vertical">
							<!-- idstore -->
							<div class="form-group col-sm-12">
								<div class="input-group col-sm-11"
									md-is-error="(frmDirty || frmMaterialbaseline.idstore.$touched) && (frmMaterialbaseline.idstore.$invalid)">
									<md-autocomplete md-input-name="idstore" required=""
										ng-disabled="ctlentityfieldStore.isDisabled"
										md-no-cache="ctlentityfieldStore.noCache"
										md-selected-item="ctlentityfieldStore.selectedItem"
										md-search-text-change="ctlentityfieldStore.searchTextChange(ctlentityfieldStore.searchText)"
										md-search-text="ctlentityfieldStore.searchText"
										md-selected-item-change="ctlentityfieldStore.selectedItemChange(item)"
										md-items="item in ctlentityfieldStore.querySearch(ctlentityfieldStore.searchText)"
										md-item-text="item.display" md-min-length="0"
										md-require-match=""
										md-floating-label="{{'clientwh_materialbaseline_idstore' | translate}}"
										md-clear-button="true" placeholder="Please select store">
									<md-item-template> <span
										md-highlight-text="ctlentityfieldStore.searchText"
										md-highlight-flags="^i">{{ item.display }}</span> </md-item-template> <md-not-found>
									{{ 'clientwh_home_nofound' | translate }} {{
									ctlentityfieldStore.searchText }} <a
										ng-click="ctlentityfieldStore.newState(ctlentityfieldStore.searchText)"></a> </md-not-found>
									<div
										ng-messages="(frmDirty || frmMaterialbaseline.idstore.$touched) && (frmMaterialbaseline.idstore.$error)">
										<div ng-message="required">{{'clientwh_home_required_field' | translate }}</div>
										<div ng-message="md-require-match">{{'clientwh_materialbaseline_store_exist' | translate }}</div>
									</div>
									</md-autocomplete>
								</div>
							</div>
							<!-- /idstore -->
							<!-- code, baselinedate -->
							<div class="form-group col-sm-7">
								<md-input-container class="md-block"
									md-is-error="(frmDirty || frmMaterialbaseline.code.$touched) && (frmMaterialbaseline.code.$invalid || frmMaterialbaseline.code.$error.duplicate)">
								<label class="control-label col-sm-6">{{'clientwh_materialbaseline_code' | translate}}</label> 
								<input md-maxlength="50" md-input required md-no-asterisk name="code" ng-model="materialbaseline.code" 
								id="code" maxlength="50" ng-change="materialbaseline.code = materialbaseline.code.split('  ').join(' ');resetValidateDuplicate();">
								<div ng-messages="(frmDirty || frmMaterialbaseline.code.$touched) && (frmMaterialbaseline.code.$error)">
									<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
									<div ng-message="duplicate">{{'clientwh_home_code_is_exits' | translate}}</div>
								</div>
								</md-input-container>
							</div>

							<div class="form-group col-sm-5" ng-init="newdate()">
		                        <md-input-container class="md-block">
						        	<label>{{'clientwh_materialbaseline_baselinedate' | translate}}</label>
						        	<md-datepicker  name="baselinedate" ng-model="materialbaseline.baselinedate" md-date-filter="noSunday" md-open-on-focus name="datepicker"></md-datepicker>
						        	<div ng-messages="(frmDirty || frmMaterialbaseline.baselinedate.$touched) && (frmMaterialbaseline.baselinedate.$error)">
						          		<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
						        	</div>
						      	</md-input-container>                                
							</div>
							<!-- /code, baselinedate -->
							<!-- name -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block"
									md-is-error="(frmDirty || frmMaterialbaseline.name.$touched) && (frmMaterialbaseline.name.$invalid)">
								<label class="control-label col-sm-6">{{'clientwh_materialbaseline_name' | translate}}</label> 
								<input md-maxlength="300" md-input required md-no-asterisk name="name" 
								ng-model="materialbaseline.name" id="name" maxlength="300" ng-change="materialbaseline.name = materialbaseline.name.replace('  ', ' ')">
								<div ng-messages="(frmDirty || frmMaterialbaseline.name.$touched) && (frmMaterialbaseline.name.$error)">
									<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
								</div>
								</md-input-container>
							</div>
							<!-- /name -->
							<!-- scope -->
							<div class="form-group col-sm-12" hidden>
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialbaseline.scope.$touched) && (frmMaterialbaseline.scope.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialbaseline_scope' | translate}}</label>
						        	<input md-maxlength="3"  md-no-asterisk name="scope" ng-model="materialbaseline.scope" >
						        	<div ng-messages="(frmDirty || frmMaterialbaseline.scope.$touched) && (frmMaterialbaseline.scope.$error)">
						          		<!-- <div ng-message="required">{{ 'clientwh_home_required_field' | translate }}</div>
						          		<div ng-message="md-maxlength">The scope must be less than 3 characters long.</div> -->
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /scope -->
							<!-- totalamount -->
							<div class="form-group col-sm-12" ng-init="Sumtotalamount()">
								<md-input-container class="md-block"
									md-is-error="(frmDirty || frmMaterialbaseline.totalamount.$touched) && (frmMaterialbaseline.totalamount.$invalid)">
								<label class="control-label col-sm-6">{{'clientwh_materialbaseline_totalamount'
									| translate}}</label> <input numeric decimals="0" formatting="true"
									min="0" max="999999999999999" md-input md-no-asterisk
									name="totalamount" disabled ng-model="materialbaseline.totalamount">
								</md-input-container>
							</div>
							<!-- /totalamount -->
							<!-- note -->
							<div class="form-group col-sm-12">
	                            <md-input-container class="md-block">
	                                <label>{{'clientwh_materialbaseline_note' | translate}}</label>
	                                <textarea ng-model="materialbaseline.note" name="note" md-maxlength="500" rows="5" md-select-on-focus maxlength="500"></textarea>
	                            </md-input-container>
                        	</div>
							<!-- /note -->
							</div>
						</div>
					<!-- /First column -->
					
					<!-- Second column -->
					<div class="col-sm-6">
						<div class="form-vertical">
						
						</div>
					</div>
					<!-- /Second column -->
			</div>
			<!-- Bottom actions -->
			<div class="panel-footer">
				<div class="row">
					<!-- workflowexecute module -->
					<div ng-include="constants.workflowexecuteView"></div>
					
					<div class="btn-group pull-right">
					 <!-- Save button -->
                       <md-button class="md-icon-button test-tooltip md-primary md-raised" ng-click="save()" md-colors="{background: 'default-green'}"
                           data-toggle="tooltip">

                           <md-tooltip md-direction="top">{{'clientwh_home_save' | translate}}</md-tooltip>
                           <md-icon md-font-library="material-icons">save</md-icon>
                       </md-button>
                       <!--/ Save button -->

                       <!-- Create button -->
                       <md-button class="md-icon-button test-tooltip md-primary md-raised" ng-click="createOnForm()" md-colors="{background: 'default-blue'}"
                           data-toggle="tooltip">

                           <md-tooltip md-direction="top">{{'clientwh_home_create' | translate}}</md-tooltip>
                           <md-icon md-font-library="material-icons">add</md-icon>
                       </md-button>
                       <!--/ Create button -->

                       <!-- Delete button -->
                       <md-button class="md-icon-button test-tooltip md-primary md-raised" ng-show="materialbaseline.id > -1" ng-click="cofirmDeleteToastForm()" md-colors="{background: 'default-red'}"
                           data-toggle="tooltip">

                           <md-tooltip md-direction="top">{{'clientwh_home_delete' | translate}}</md-tooltip>
                           <md-icon md-font-library="material-icons">delete</md-icon>
                       </md-button>
                       <!--/ Delete button -->

                       <!-- Close button -->
                       <md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">

                           <md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
                           <md-icon md-font-library="material-icons">close</md-icon>
                       </md-button>
                       <!--/ Close button -->
					</div>
				</div>
			</div>
	</form>
		</md-tab>
    		<md-tab label="{{'clientwh_materialbaseline_detail' | translate}}" ng-if="materialbaseline.id > -1">
    			<div ng-include="materialbaselinedetailView" ng-controller="clientwhmaterialbaselinedetailController"></div>
    			<div class="panel-footer">
                <div class="row">
                    <div class="btn-group pull-right">
                        <md-button class="md-icon-button test-tooltip md-raised" data-toggle="tooltip" title="{{'clientwh_home_close' | translate}}"
                            ng-click="closeDialog()">
                            <md-icon md-font-library="material-icons">close</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
    		</md-tab>
    		<md-tab label="{{'clientwh_home_comment' | translate}}" ng-if="materialbaseline.id > -1">
				<div ng-include="commentScope.view" ng-controller="clientwhcommentController"></div>
				<div class="panel-footer">
                <div class="row">
                    <div class="btn-group pull-right">
                        <md-button class="md-icon-button test-tooltip md-raised" data-toggle="tooltip" title="{{'clientwh_home_close' | translate}}"
                            ng-click="closeDialog()">
                            <md-icon md-font-library="material-icons">close</md-icon>
                        </md-button>
                    </div>
                </div>
            	</div>		
			</md-tab>
		</md-tabs>
	<md-card>
</div>