
<div>
	<md-card>
		<form name="frmMaterialbaselinedetail" novalidate class="css-form">
			<md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{'clientwh_materialbaselinedetail_title' | translate}}</span>
                </md-card-title-text>
            </md-card-title>
            
            <!-- Top actions -->
            <div class="panel-heading">
                <div class="row">
                </div>
            </div>
			<!-- Alert Message -->
			<div id="materialbaselinedetailAlertMessage" class="alert" style="display: none">
				<strong>{{materialbaselinedetailAlertMessage}}</strong>
			</div>
			<!-- Context -->
				<div class="row">
					
					<!-- First column -->
					<div class="col-sm-6">
						<div class="form-vertical">
							<!-- idmaterialbaseline -->
							<div class="form-group col-sm-12" ng-show="false">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialbaselinedetail.idmaterialbaseline.$touched) && (frmMaterialbaselinedetail.idmaterialbaseline.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialbaselinedetail_idmaterialbaseline' | translate}}</label>
						        	<input md-maxlength="10" md-input required md-no-asterisk name="idmaterialbaseline" ng-model="materialbaselinedetail.idmaterialbaseline" disabled>
						        	<div ng-messages="(frmDirty || frmMaterialbaselinedetail.idmaterialbaseline.$touched) && (frmMaterialbaselinedetail.idmaterialbaseline.$error)">
						          		<div ng-message="required">{{ 'clientwh_home_required_field' | translate }}</div>
						          		<div ng-message="md-maxlength">The idmaterialbaseline must be less than 3 characters long.</div>
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /idmaterialbaseline -->
							<!-- idsupplier -->
								<div class="form-group col-sm-12">
									<div class="input-group col-sm-12" md-is-error="(frmDirty || frmMaterialbaselinedetail.idsupplier.$touched) && (frmMaterialbaselinedetail.idsupplier.$invalid || frmMaterialbaselinedetail.idsupplier.$error.duplicate)">
							        	<md-autocomplete md-input-name="idsupplier" required="" 
							        			   ng-disabled="ctlentityfieldSupplier.isDisabled"
			                                      md-no-cache="ctlentityfieldSupplier.noCache" md-selected-item="ctlentityfieldSupplier.selectedItem"
			                                      md-search-text-change="ctlentityfieldSupplier.searchTextChange(ctlentityfieldSupplier.searchText)"
			                                      md-search-text="ctlentityfieldSupplier.searchText" md-selected-item-change="ctlentityfieldSupplier.selectedItemChange(item)"
			                                      md-items="item in ctlentityfieldSupplier.querySearch(ctlentityfieldSupplier.searchText)"
			                                      md-item-text="item.display" md-min-length="0" md-require-match" md-floating-label="{{'clientwh_materialbaselinedetail_idsupplier' | translate}}"
			                                      md-clear-button="true">
			                                      <md-item-template>
			                                          <span md-highlight-text="ctlentityfieldSupplier.searchText" md-highlight-flags="^i">{{ item.display }}</span>
			                                      </md-item-template>
			                                      <md-not-found>
			                                          No "{{ ctlentityfieldSupplier.searchText }}" were found.
			                                          <a ng-click="ctlentityfieldSupplier.newState(ctlentityfieldSupplier.searchText)">Create a new one!</a>
			                                      </md-not-found>
			                                      <div ng-messages="(frmDirty || frmMaterialbaselinedetail.idsupplier.$touched) && (frmMaterialbaselinedetail.idsupplier.$error)">
			                                          <div ng-message="required">{{ 'clientwh_home_required_field' | translate }}</div>
			                                          <div ng-message="duplicate">{{'clientwh_home_code_is_exits' | translate}}</div>
			                                          <div ng-message="md-require-match">{{ 'clientwh_materialbaselinedetail_supplier_exist' | translate }}</div>
			                                      </div>
			                              </md-autocomplete>
						      		</div>
								</div>
							<!-- /idsupplier -->
							<!-- idmaterial -->
							<div class="form-group col-sm-12">
								<div class="input-group col-sm-12">
									<md-autocomplete
										md-is-error="(frmDirty || frmMaterialbaselinedetail.idmaterial.$touched) && (frmMaterialbaselinedetail.idmaterial.$invalid || frmMaterialbaselinedetail.idmaterial.$error.duplicate)"
										md-input-name="idmaterial" required=""
										ng-disabled="ctlentityfieldMaterial.isDisabled"
										md-no-cache="ctlentityfieldMaterial.noCache"
										md-selected-item="ctlentityfieldMaterial.selectedItem"
										md-search-text-change="ctlentityfieldMaterial.searchTextChange(ctlentityfieldMaterial.searchText)"
										md-search-text="ctlentityfieldMaterial.searchText"
										md-selected-item-change="ctlentityfieldMaterial.selectedItemChange(item)"
										md-items="item in ctlentityfieldMaterial.querySearch(ctlentityfieldMaterial.searchText)"
										md-item-text="item.display" md-min-length="0"
										md-floating-label="{{'clientwh_materialbaselinedetail_idmaterial' | translate}}"
										md-require-match="" md-clear-button="true"> <md-item-template>
									<span md-highlight-text="ctlentityfieldMaterial.searchText"
										md-highlight-flags="^i">{{item.display}}</span> </md-item-template> <md-not-found>
									No items matching "{{ctlentityfieldMaterial.searchText}}" were found. <a
										ng-click="ctlentityfieldMaterial.newState(ctlentityfieldMaterial.searchText)"></a> </md-not-found>
                                <div ng-messages="(frmDirty || frmMaterialbaselinedetail.idmaterial.$touched) && (frmMaterialbaselinedetail.idmaterial.$error)">
                                    <div ng-message="required">{{ 'clientwh_home_required_field' | translate }}</div>
                                    <div ng-message="duplicate">{{'clientwh_home_code_is_exits' | translate}}</div>
                                    <div ng-message="md-require-match">{{ 'clientwh_materialbaselinedetail_material_exist' | translate }}</div>
                                </div>
		                            </md-autocomplete>
							    </div>
							</div>
							<!-- /idmaterial -->
							<!-- idunit -->
							<div class="form-group col-sm-12">
								<md-input-container class="md-block" md-is-error="(frmDirty || frmMaterialbaselinedetail.idunit.$touched) && (frmMaterialbaselinedetail.idunit.$invalid)">
						        	<label class="control-label col-sm-6" >{{'clientwh_materialbaselinedetail_idunit' | translate}}</label>
						        	<input md-input md-no-asterisk name="idunit" ng-model="unitName" disabled>
						        	<div ng-messages="(frmDirty || frmMaterialbaselinedetail.idunit.$touched) && (frmMaterialbaselinedetail.idunit.$error)">	
						        		<div ng-message="required">{{ 'clientwh_home_required_field' | translate }}</div>					          		
						        	</div>
						      	</md-input-container>
							</div>
							<!-- /idunit -->							
							<!-- note -->
							<div class="form-group col-sm-12">
	                            <md-input-container class="md-block">
	                                <label>{{'clientwh_materialbaselinedetail_note' | translate}}</label>
	                                <textarea ng-model="materialbaselinedetail.note" name="note" md-maxlength="500" rows="5" md-select-on-focus maxlength="500"></textarea>
	                            </md-input-container>
                        	</div>
							<!-- /note -->					
						</div>
					</div>
					<!-- /First column -->
					
					<!-- Second column -->
					<div class="col-sm-6">
						<div class="form-vertical">
							<!-- price -->
							<div class="col-sm-12">
								<md-input-container class="md-block"
									md-is-error="(frmDirty || frmMaterialbaselinedetail.price.$touched) && (frmMaterialbaselinedetail.price.$invalid)">
								<label class="control-label col-sm-6">{{'clientwh_materialbaselinedetail_price'
									| translate}}</label> <input numeric decimals="0" formatting="true"
									min="0" max="999999999" md-input md-no-asterisk name="price"
									required ng-model="materialbaselinedetail.price"
									ng-change="ResetTotalAmt();CalculateSum(materialbaselinedetail)">
								<div
									ng-messages="(frmDirty || frmMaterialbaselinedetail.price.$touched) && (frmMaterialbaselinedetail.price.$error)">
									<div ng-message="required">{{ 'clientwh_home_required_field'
										| translate }}</div>
								</div>
								</md-input-container>
							</div>
							<!-- /price -->
							<!-- quantity -->
							<div class="col-sm-12">
								<md-input-container class="md-block"
									md-is-error="(frmDirty || frmMaterialbaselinedetail.quantity.$touched) && (frmMaterialbaselinedetail.quantity.$invalid)">
								<label class="control-label col-sm-6">{{'clientwh_materialbaselinedetail_quantity'
									| translate}}</label> <input numeric decimals="0" formatting="true"
									min="0" max="999999999" md-input md-no-asterisk name="quantity"
									required ng-model="materialbaselinedetail.quantity"
									ng-change="ResetTotalAmt();CalculateSum(materialbaselinedetail)">
								<div
									ng-messages="(frmDirty || frmMaterialbaselinedetail.quantity.$touched) && (frmMaterialbaselinedetail.quantity.$error)">
									<div ng-message="required">{{ 'clientwh_home_required_field'
										| translate }}</div>
								</div>
								</md-input-container>
							</div>
							<!-- /quantity -->
							<!-- amount -->
							<div class="col-sm-12"
								ng-init="ResetTotalAmt();CalculateSum(materialbaselinedetail)">
								<md-input-container class="md-block"
									md-is-error="(frmDirty || frmMaterialbaselinedetail.amount.$touched) && (frmMaterialbaselinedetail.amount.$invalid)">
								<label class="control-label col-sm-6">{{'clientwh_materialbaselinedetail_amount'
									| translate}}</label> <input numeric decimals="0" formatting="true"
									min="0" max="999999999999999" md-input md-no-asterisk
									name="amount" ng-model="materialbaselinedetail.amount" disabled>
								<div
									ng-messages="(frmDirty || frmMaterialbaselinedetail.amount.$touched) && (frmMaterialbaselinedetail.amount.$error)">
									<div ng-message="max">{{'clientwh_materialbaselinedetail_max' |
										translate}}</div>
								</div>
								</md-input-container>
							</div>
							<!-- /amount -->
							<!-- startdate, enddate-->
							<div class="form-group col-sm-6" ng-init="newdate()">
		                        <md-input-container class="md-block">
						        	<label>{{'clientwh_materialbaselinedetail_startdate' | translate}}</label>
						        	<md-datepicker name="startdate" required ng-model="materialbaselinedetail.startdate" md-date-filter="noSunday" md-open-on-focus name="datepicker"></md-datepicker>
						        	<div ng-messages="(frmDirty || frmMaterialbaselinedetail.startdate.$touched) && (frmMaterialbaselinedetail.startdate.$error)">
						          		<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
						        	</div>
						      	</md-input-container>                                
							</div>
							<div class="form-group col-sm-6" ng-init="newdate()">
		                        <md-input-container class="md-block">
						        	<label>{{'clientwh_materialbaselinedetail_enddate' | translate}}</label>
						        	<md-datepicker name="enddate" required ng-model="materialbaselinedetail.enddate" md-date-filter="noSunday" md-open-on-focus name="datepicker"></md-datepicker>
						        	<div ng-messages="(frmDirty || frmMaterialbaselinedetail.enddate.$touched) && (frmMaterialbaselinedetail.enddate.$error)">
						          		<div ng-message="required">{{'clientwh_home_required_field' | translate}}</div>
						        	</div>
						      	</md-input-container>                                
							</div>
							<!-- /startdate, enddate -->						
						</div>
					</div>
					<!-- /Second column -->
				</div>
			<!-- Bottom actions -->
			<!-- Footer -->
			<div class="panel-footer">
            	<div class="row">
                    <div class="btn-group pull-right ">

                        <!-- Save button -->
                        <md-button class="md-icon-button test-tooltip md-primary md-raised" ng-click="save()" md-colors="{background: 'default-green'}"
                            data-toggle="tooltip">

                            <md-tooltip md-direction="top">{{'clientwh_home_save' | translate}}</md-tooltip>
                            <md-icon md-font-library="material-icons">save</md-icon>
                        </md-button>
                        <!--/ Save button -->

                        <!-- Create button -->
                        <md-button class="md-icon-button test-tooltip md-primary md-raised" ng-click="createOnForm()" md-colors="{background: 'default-blue'}"
                            data-toggle="tooltip">

                            <md-tooltip md-direction="top">{{'clientwh_home_create' | translate}}</md-tooltip>
                            <md-icon md-font-library="material-icons">add</md-icon>
                        </md-button>
                        <!--/ Create button -->

                        <!-- Delete button -->
                        <md-button class="md-icon-button test-tooltip md-primary md-raised" ng-show="requestdetail.id > -1" ng-click="cofirmDeleteToastForm()"
                            md-colors="{background: 'default-red'}" data-toggle="tooltip">

                            <md-tooltip md-direction="top">{{'clientwh_home_delete' | translate}}</md-tooltip>
                            <md-icon md-font-library="material-icons">delete</md-icon>
                        </md-button>
                        <!--/ Delete button -->

                        <!-- Close button -->
                        <md-button class="md-icon-button test-tooltip md-raised" ng-click="closeDialog()" data-toggle="tooltip">

                            <md-tooltip md-direction="top">{{'clientwh_home_close' | translate}}</md-tooltip>
                            <md-icon md-font-library="material-icons">close</md-icon>
                        </md-button>
                        <!--/ Close button -->
                    </div>
            	</div>
            </div>
            <!-- /Footer -->
			
	</form>
	</md-card>
</div>
