<md-toast>
	<span class="md-toast-text" flex>{{'clientwh_home_delete_message_confirm' | translate}}</span>
	<md-button class="md-icon-button test-tooltip md-primary md-raised" md-colors="{background: 'default-green'}" ng-click="OkToast()">
		<md-icon md-font-library="material-icons">done</md-icon>
	</md-button>
	<md-button class="md-icon-button test-tooltip md-primary md-raised" md-colors="{background: 'default-red'}" ng-click="closeToast()">
		<md-icon md-font-library="material-icons">clear</md-icon>
	</md-button>
</md-toast>